<div class="header">
	<span class="head icon">|</span><span class="head" >机构列表</span>
	<div class="btnHeader head">
		<button class="btn btn-primary" (click)="editOrgPop(organization_edit)">添加机构</button>
		<button class="btn btn-primary" (click)="exportExcel(excel_helper)">异常机构数据导出</button>
	</div>
</div>
<iframe #excel_helper style="display:none"></iframe>
<div class="coat">
	<div class="container screen">
		<div class="btns">
			<div class="condition-btn">
				<button class="btn btn-primary sub">查询</button>
			</div>
			<div class="condition-btn">
				<button type="button" class="btn btn-default cols_setting" >
					<i class="fa fa-cog fa-lg"></i>
				</button>
			</div>
		</div>
		<div class="conditions" style="min-width:580px;">
			<div class="condition">
				<label for="fullname"  class="text-right">机构全称</label>
				<div class="condition-input">
					<input type="text" class="form-control">
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>
<div class="coat">
	<div class="tableList">
		<table class="table table-bordered table-hover ">
			<thead>
				<tr>
					<th class="info">操作</th>
					<th class="info" style="min-width:200px;">机构全称</th>
					<th class="info">机构简称</th>
					<th class="info">LOGO</th>
					<th class="info">金融机构分类1</th>
					<th class="info">金融机构分类2</th>
					<th class="info">详细地址</th>
					<th class="info">邮政编码</th>
					<th class="info">总机</th>
					<th class="info">是否金融机构</th>
					<th class="info">备注</th>
					<th class="info">下属部门数</th>
					<th class="info">机构总人数</th>
					<th class="info">机构来源</th>
					<th class="info">有效状态</th>
					<th class="info">创建时间</th>
					<th class="info">修改时间</th>
					<th class="info">企业性质</th>
					<th class="info">发行机构简称</th>
					<th class="info">发行机构ID</th>
					<th class="info">所在省</th>
					<th class="info">所在市</th>
					<th class="info">国标分类1</th>
					<th class="info">国标分类2</th>
				</tr>
			</thead>
			<tbody id="list">
				<tr class="Userlist" >
					<td class="table-hover">哈哈哈</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- 分页 -->
<div class="row pagerow">
	<div class="pageshowleft">每页显示
		<select #selectPage name="" id="msgNum" (change)="sizeData(selectPage.value)" class="form-control">
			<option *ngFor="let msgNumber of msgNumbers" value={{msgNumber}}>{{msgNumber}}</option>
		</select>
		条数据
	</div>
	<div class="pageshowmodle">
		<span>{{orgCondition.currentPage}}/{{orgCondition.totalPages}}</span>页
		<span>{{orgCondition.totalItems}}条数据</span>
	</div>

	<div class="pagefen">
		<pagination
			[firstText]="firstText"
			[lastText]="lastText"
			[previousText]="previousText"
			[nextText]="nextText"
			[maxSize]="orgCondition.maxSize"
			[totalItems]="orgCondition.totalItems"
			[itemsPerPage]="orgCondition.itemsPerPage"
			[(ngModel)]="orgCondition.currentPage"
			[boundaryLinks]="true"
			(pageChanged)='pageChanged($event,allcheck)'
			(numPages)='pageNumChange($event)'
		class="pagination-sm"></pagination>
	</div>
</div>
<!-- <button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: 3</button> -->

<div bsModal #organization_approve="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="organization_approve.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">设置有效状态</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" #organizations_edit_form="ngForm">
					<div id="organizations_info_left" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="fullname" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">机构全称</label>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<input type="text" class="form-control" name="fullname" [ngModel]="organization.fullname" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="abbr" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">机构简称</label>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<input type="text" class="form-control" name="abbr" [ngModel]="organization.abbreviation" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="approveStatus" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">是否有效</label>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<div class="btn-group">
									<label name="approveStatus" class="btn btn-mint" [(ngModel)]="organization.approveStatus" btnRadio="1">有效</label>
									<label name="approveStatus" class="btn btn-mint" [(ngModel)]="organization.approveStatus" btnRadio="2">无效</label>
								</div>
							</div>
						</div>
					</div>
					<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button type="button" class="btn btn-primary pull-right btn-space" (click)="updateStatus(organization_approve)" [disabled]="!(organization.approveStatus==1||organization.approveStatus==2)">保存</button>
						<button type="button" class="btn btn-default pull-right btn-space" (click)="organization_approve.hide()">取消</button>
					</div>
					<div style="clear:both;"></div>
				</form>
			</div>
		</div>
	</div>
</div>